#navbar, .navbar-brand, .navbar-content {
  background-color: $headerBgColor;
}

.sms-content {
  margin-top: 60px;
}

.btn-primary {
  background-color: $buttonBgColor;
}

.box-content {
  margin: 0 auto;
  width: 80%;
}